### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
!**/src/main/**/target/
!**/src/test/**/target/

### Spring Boot ###
*.jar
*.war
*.ear
*.log
*.tmp
*.bak

### Banco H2 (local) ###
*.mv.db
*.h2.db
*.trace.db
/data/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Sistema Operacional ###
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
